---
	import BaseLayout from "../layouts/BaseLayout.astro";
	const allPost = await Astro.glob('../pages/posts/*.md');
	const pageTitle = "Blog"
---

<head>
  <meta charset="utf-8" />
	<title>{pageTitle}</title>
</head>

<BaseLayout pageLayout={pageTitle}>
	<section>
		<h1>{pageTitle}</h1>
		<h2>Post diverweb</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, neque?</p>
		<ul>
		 {allPost.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>
	</section>
</BaseLayout>