---
  import BaseLayout from "./BaseLayout.astro";
  const { frontmatter } = Astro.props;
---

<BaseLayout pageTitles={frontmatter.title}>
  <section>
    <h1> {frontmatter.title}</h1>

    <p><em>{frontmatter.description}</em></p>

    <p>Escrito por: {frontmatter.author}</p>

    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <p>Publicado el: {frontmatter.pubDate.slice(0,10)}</p>

    <div class="tags">
      {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <slot />
  </section>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>